.hero {
    position: relative;
    height: 1000px;
}

.name h1 {
    font-size: 120px;
    color: white;
    font-weight: bolder;
    line-height: 1.1;
}

.name {
    left: 20%;
    top: 50%;
    position: absolute;
    font-weight: bolder;

}

.left-bra {
    color: blue;
}

.right-bra {
    color: blue;
}